
h1{
    text-align: center;
}

.container
{

    padding-bottom: 20px;  
    padding-top: 20px;
    margin-top: 50px;
    margin-bottom: 50px;

}  

label{

    display: inline-block;
    width: 200px;
    text-align: left;

}

.label{

    display: inline-block;
    text-align: left;
    margin-right: 5x;
    margin-left: 5px;
}

.highcharts-credits {
    display: none !important;
}

th{

    background-color: black;
    color: white;
}

.mainContainer{

    background-color: aliceblue;
    border-style: outset;
}

.mb-5{

    background-color: blue;
}

input{

    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid black;
    background-color: aliceblue;

}

.logo{

    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

}

.StudentLogo{

    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

}

button{

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;

}


@media (min-width: 768px) {
    .wmin-md-400 {
        min-width: 400px !important
    }
}
